.table {
  composes: table from "../../theme/controls.module.css";
}
.input {
  composes: input from "../../theme/controls.module.css";
}
.icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}
